.subscribe-button{
    background-color: red;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(183, 25, 25);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
  }

  .subscribe-button:hover{
    opacity: 0.7;
  }

  .subscribe-button:active{
   opacity: 0.3;
  }


  .join-button{
    border-color: rgb(30, 30, 138);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: rgb(57, 57, 136);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.15s, color 0.15s;
     padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;

  }
.join-button:hover{
  background-color: blue;
  color: white;
}
.join-button:active{
  opacity: 0.4;
}

  .tweet{
    background-color: rgb(58, 58, 200);
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 30px;
  }
  .tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  .stretch-button{
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform 0.3s;
    transform-origin: top left;
  }
  .stretch-button:hover{
    transform:scale(1.5)
  }

  .number-button{
     background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform 0.3s;
    transform-origin: center;
    
  }
  .number-button:hover{
    transform: scaleX(1.5);
  }
  .box-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 40px;
  }
  .shadow-button{
     background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform 0.5s;
    transform-origin: top left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;

  }
  .shadow-button:hover{
    transform: translateX(10px) translateY(10px);
  }