*{
  box-sizing: border-box;
}
.header{
  height: 57px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(218, 212, 212);
  
}

.left-section{
  display: flex;
  align-items: center;
}

.left-section .hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 60px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  /* width: 0; */
  flex-shrink: 0;

}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;

}

.search-button{
  height: 40px;
  width: 64px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon{
  height: 24px;
  width: 24px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);

}

.voice-icon{
  height: 24px;
  margin-top: 4px;
  
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  margin-right: 24px;
  margin-left: 29px;
  flex-shrink: 0;
}
.right-section button{
  background-color: transparent;
  border: none;
}

.create-icon{
  height: 24px;
}

.youtube-app-icon{
  height: 24px;
}

.notification-icon{
  height: 24px;
}

.my-channel-icon{
  height: 32px;
  border-radius: 16px;
}