.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: white;
  width: 72px;
  padding-top: 4px;
  z-index: 200;
  
}

.sidebar-link{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
   background-color: rgb(249, 249, 249);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}
